// Menu
.ant-menu-item {
    font-size: @fontSizeSM;
}

.ant-dropdown-menu-item {
    font-size: 1.5em !important;
    padding: 18px 16px !important;

}

// form
.ant-form-item-explain.ant-form-item-explain-error {
    font-size: @fontSizeSM;
}


@media (max-width: @tabletMaxWidth) {
    .ant-menu-item {
        font-size: @fontSizeL;
    }

    .ant-menu-vertical>.ant-menu-item {
        height: 65px !important;
    }

    .ant-menu-vertical {
        padding-top: 20px !important;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
    }

    .ant-modal-confirm-btns {
        min-width: 100% !important;

        .ant-btn-primary {
            width: 100% !important;
            min-width: 100% !important;
        }
    }

}
