.text {
    font-size: @fontSizeM;

    &_title {
        font-size: @fontSizeXL;
    }

    &_subtitle {
        font-size: @fontSizeSM;
    }

    &_m {
        font-size: @fontSizeXSM;
    }
}

.spinc {
    &_wrapper {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        min-height: 100px;
    }
}

@media (max-width: @tabletMaxWidth) {

    .buttonC {
        width: 100% !important;
    }

    .text {
        &_title {
            font-size: @fontSizeM;
        }

        &_subtitle {
            font-size: @fontSizeSM;
        }
    }

}
