.header_wrapper {
  margin: 20px 0 20px 0;
}
.header_firstLine {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.header_logo {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .header_wrapper {
    margin: 20px 0 0 0;
  }
  .header_logo {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    margin-right: 20px;
  }
  .header_firstLine {
    margin-bottom: 0px;
  }
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
  padding-bottom: 100px;
  font-size: 1.5em;
  width: 100%;
  max-width: 100%;
}
.ant-menu-item {
  font-size: 1.5em;
}
.ant-dropdown-menu-item {
  font-size: 1.5em !important;
  padding: 18px 16px !important;
}
.ant-form-item-explain.ant-form-item-explain-error {
  font-size: 1.5em;
}
@media (max-width: 1024px) {
  .ant-menu-item {
    font-size: 3em;
  }
  .ant-menu-vertical > .ant-menu-item {
    height: 65px !important;
  }
  .ant-menu-vertical {
    padding-top: 20px !important;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
  }
  .ant-modal-confirm-btns {
    min-width: 100% !important;
  }
  .ant-modal-confirm-btns .ant-btn-primary {
    width: 100% !important;
    min-width: 100% !important;
  }
}
.text {
  font-size: 2em;
}
.text_title {
  font-size: 4em;
}
.text_subtitle {
  font-size: 1.5em;
}
.text_m {
  font-size: 1em;
}
.spinc_wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100px;
}
@media (max-width: 1024px) {
  .buttonC {
    width: 100% !important;
  }
  .text_title {
    font-size: 2em;
  }
  .text_subtitle {
    font-size: 1.5em;
  }
}
.students_form {
  margin: 20px 0 20px 0;
}
.students_wrapper {
  max-width: 800px;
}
