.header {

    &_wrapper {
        margin: 20px 0 20px 0;
    }

    &_firstLine {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-bottom: 18px;
    }

    &_logo {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        margin-right: 20px;
    }
}


@media (max-width: @tabletMaxWidth) {
    .header {
        &_wrapper {
            margin: 20px 0 0 0;
        }

        &_logo {
            width: 150px;
            max-width: 150px;
            min-width: 150px;
            margin-right: 20px;
        }

        &_firstLine {
            margin-bottom: 0px;
        }

        // &_secondLine {
        //     margin-left: -15px;
        // }

    }
}
