@fontSizeXL: 4em;
@fontSizeL: 3em;
@fontSizeM: 2em;
@fontSizeSM: 1.5em;
@fontSizeXSM: 1em;

// Mobile
@mobileMaxWidth: 767px;
// Tablet
@tabletMinWidth: 768px;
@tabletMaxWidth: 1024px;

// @media (min-width: 768px) and (max-width: 1024px) {}
